html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.my-navbar {
    background-color: rgb(46,95,156) !important;
}
.my-navbar a{
    color: white !important;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#taskInput {
    width: 70%;
    padding: 10px;
    font-size: 16px;
}

#addTaskBtn {
    padding: 10px;
    font-size: 16px;
}

#taskList {
    list-style: none;
    padding: 0;
}

.taskItem {
    text-align: left;
    border-bottom: 2px solid #ccc;
    margin: 5px 0;
    padding: 10px;
    width: 80%;
    overflow: auto;
}

    .taskItem span {
        flex-grow: 1;
        margin-right: 10px;
        cursor: pointer;
    }
.completed {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    color:gray;
}

    .taskItem button {
        color: #fff;
        border: none;
        padding: 8px;
        cursor: pointer;
    }
.green-btn {
    margin-left: 10px;
    background-color: greenyellow;
    border-radius: 5px;
    border-width: 0px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #0a0909;
    font-size: 18px;
}
.red-btn {
    background-color: orangered;
    border-radius: 5px;
    border-width: 0px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    color: antiquewhite;
    font-size: 18px;
}
.add-btn {
    background-color: rgb(46,95,156);
    border: solid 0px;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
}
.countCharacters
{
    margin-top: 10px;
    color: gray;
    font-size: small;
  
}
.taskItem input[type="checkbox"] {
    margin-right: 8px;
}
.taskItemContainer
{
    display: flex;
}
.btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}
.taskItemContainer:hover .btn-container {
    opacity: 0.9;
}
